# A gitignore file specifies intentionally untracked files that Git should ignore.
# Exclude locally installed dependencies
venv/
__pycache__/

# Exclude local IDE settings
.idea/
.vscode/

# Exclude testing cache
.pytest_cache/

# macOS
**/.DS_Store

data/*csv